@layout('layout.master')
@section('item')

    <h2>Product Details</h2>
    <div class="h-screen">
       
        <a href="/"> 
            <span class="font-bold bg-blue-600 p-2 rounded-md ">Back</span>
        </a>
    </div>
    
    @endsection